<div class = "singleproduct">
  <h3><%= link_to product.name, product, class: "productlinks" %></h3>
  
  <% if product.image_file %>
    <div class = "product-image">
      <%= link_to image_tag(product.image_file), product %>
    </div>
  <% end %>
  <p><%= product.description %></p>
  <p>
    <strong>Price:</strong> <%= number_to_currency product.price %>
  </p>
  <p>
    <%= render partial: "shopping", :locals => {:product => product} %>
  </p>
</div>