<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
  <title>DormRoom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="logo">
			<%= image_tag "logo.png", id: "logo-image" %>
		</div>
		<div id="title">
			<%= image_tag "title.png", id: "title-image" %>
			<h3>Furniture &amp; Accessories for College Living</h3>
			<%= render "search" %>
		</div>
		<div id="cart">
			<%= image_tag "cart.png", id: "cart-image" %>
		</div>
		<div id="navigation">
			<nav>
				<ul>
					<li>Categories</li>
					<li>
						<%= link_to "New Products", newproducts_path, class: "menulinks" %>
					</li>
					<li>
						<%= link_to "On Sale", saleproducts_path, class: "menulinks" %>
					</li>
					<li>About The Company</li>
					<li>Contact Us</li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="content">
		<%= yield %>
	</section>
</body>
</html>
