<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
  <title>DormRoom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<section id="company-logo">
			<%= image_tag "logo.png", :id => "logo-image" %>
		</section>
	</header>





	<%= yield %>
</body>
</html>
